.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-image:url("https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
  background-size: cover;
 
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c1c1;
  padding: 44px;
  border-radius: 11px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 16px;
  background-color: white;
  border: none;
  border-radius: 11px;
  width: 94%;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #788885;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
