@media only screen and (max-width: 995px) {
  .topLeft,
  .topRight {
    flex: 5;
  }
  .headerTitleLg {
    z-index: 1;
  }
  .img .main {
    height: 79vh;
  }
  .img .text {
    top: 0px;
  }

  .img h1 {
    font-size: 3rem;
  }

  .home .posts {
    margin-left: 60px;
    overflow: hidden;
    flex-direction: row;
    overflow-x: scroll;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: nowrap;
  }

  .posts .post {
    margin-right: 170px;
  }
}

@media only screen and (max-width: 852px) {
  .topCenter {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .top {
    display: none;
    float: right;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
  }

  .topLeft {
    display: none;
    flex: unset;
  }
  .topRight {
    flex: unset;
  }
  .topCenter {
    flex: unset;
    margin: 59px;
  }
  .topList {
    flex-direction: column;
  }
  .topListItem {
    margin-right: unset;
    font-size: 23px;
    padding: 19px;
  }
  .topRight {
    flex: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -133px;
  }
  .topRight .profileDiv {
    display: flex;
    /* margin-right: -50px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 14px;
    /* display: flex; */
    margin-right: unset;
  }

  .topImg {
    width: 102px;
    height: 105px;
    border-radius: 88%;
    /* object-fit: cover; */
    /* margin-right: 37px; */
    cursor: pointer;
  }
  .ml {
    display: contents;
  }
  .extra {
    list-style: none;
    margin-top: 37px;
    margin-right: 45px;
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
  }
  .headerTitles .headerTitleSm {
    /* position: absolute; */
    top: 5%;
    /* font-size: 20px; */
  }
  .headerTitles .headerTitleLg {
    /* position: absolute; */
    top: 7%;
    /* font-size: 100px; */
  }

  .hamburger {
    font-size: 36px;
    position: absolute;
    left: 88%;
    float: right;
    top: 9%;
    display: block;
  }

  .topOpen {
    display: block;
  }

  .closeBurger {
    font-size: 36px;
    position: fixed;
    left: 8%;
    float: left;
    top: 9%;
    display: block;
  }

  #root .write {
    padding-top: 130px;
  }
  #root .writeImg {
    margin-left: 99px;
  }
  #root .writeFormGroup {
    margin-left: 81px;
  }
  #root .writeSubmit {
    right: 116px;
  }
}

@media only screen and (max-width: 795px) {
  .home {
    flex-direction: column;
  }
}

@media only screen and (max-width: 705px) {
  .home .posts {
    margin-left: 144px;
  }
}
@media only screen and (max-width: 640px) {
  .home .posts {
    margin-left: 109px;
  }

  #root .writeImg {
    margin-left: 71px;
  }
  .Container {
    flex-direction: column;
  }
  .SocialContainer {
    /* display: flex; */
    justify-content: center;
  }

  .Right {
    justify-content: center;
    align-items: center;
  }
  .single {
    /* display: flex; */
    flex-direction: column;
    padding-top: 138px;
  }
  .singlePost .singlePostWrapper {
    padding: 48px;
    padding-right: 48px;
  }

  #root .loginInput {
    width: 88%;
  }
  #root .loginForm {
    width: 61%;
  }
  #root .registerForm {
    width: 61%;
  }
}

@media only screen and (max-width: 500px) {
  #root .write {
    padding-top: 164px;
  }
  #root .writeImg {
    margin-left: 58px;
  }
  #root .writeFormGroup {
    margin-left: 40px;
  }
  #root .writeSubmit {
    right: 79px;
  }
  .img h1 {
    font-size: 1.5rem;
  }
  
}

@media only screen and (max-width: 470px) {
  .home .posts {
    margin-left: unset;
  }
}
